/* стили для Header */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  font-size: 18px;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.menu-link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 135px;
}

.address {
  width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-underline-position: under;
}

.header__address {
  justify-self: end;
}

/* стили для Cover */

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 106px;
  padding: 165px 50px 50px;
  color: #ffffff;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0/0.6);
}

.cover__title {
  z-index: 1;
}

.aligned-text {
  display: block;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.27;
  letter-spacing: 30px;

  text-transform: uppercase;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid #ffffff;
  padding: 12px 32px 11px 31px;
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

/* стили для секции с карточками */

.lots {
  padding: 180px 24px 120px 24px;
}

.lots__heading {
  padding-bottom: 27px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 596px;
  padding: 48px 40px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  z-index: 1;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  text-decoration: underline;
  text-underline-position: under;
}

/* стили для секции About */

.about {
  display: grid;
  grid-template-columns: 334px auto;
  column-gap: 25px;
  padding-right: 24px;
  padding-left: 24px;
}

.about__column-logo {
  justify-self: center;
  padding-top: 35px;
}

.about__column-text {
  padding-top: 133px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 120px;
  background-color: black;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 24px;
}

.about__text:last-child {
  margin-bottom: 0;
}

.about__text-first {
  margin-bottom: 24px;
}

/* стили для секции Футера */

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 180px;
  padding: 0 50px 82px;
}

.footer__address {
  justify-self: flex-end;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-list-item {
  font-size: 18px;
  text-align: center;
}

.footer__menu-link {
  text-underline-position: under;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
