/* стили для Header */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__menu {

}

.header__links-list {
  display: flex;
  gap: 32px;

}

.header__links-list-item {
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  list-style: circle;

}

.header__links-list-item_no-bullit {
  list-style: none;
  }

  .header__links-list-item_no-bullit a {
    text-decoration: none;
  }

.header__link {

}

.header__link_active {

}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image{
  width: min-content;
}


.header__address {
  justify-self: end;
  min-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 24.5px;
  letter-spacing: 0%;
  text-underline-position: under;

}

/* стили для Cover */

.cover {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  gap: 106px;
  padding: 165px 50px 50px;
  color: #ffffff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  line-height: 128.0px;
  letter-spacing: 30%;
  text-transform: uppercase;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.overlay  {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0/0.6);
}

.cover__title{
  width: 100%;
  min-height: 385px;
}

.accent-span {
display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.description {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  line-height: 51px;
  letter-spacing: 90%;
  text-transform: uppercase;
  word-spacing: 23px;
}

.button {
  width: 256px;
  border: solid #ffffff;
  color: #ffffff;
  font-family: Raleway;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;

}